@import "../colors.scss";
@import "../spaces.scss";

.footer {
  background-color: $background_footer;
  &-top {
    min-height: 60px;
    border-bottom: 1px solid $border-footer-top-bottom;

    @media only screen and (min-width: 600px) {
      border-top: 1px solid $border-footer-top-bottom;
    }

    .sky-footer-logo {
      -webkit-filter: grayscale(1) invert(1);
      filter: grayscale(1) invert(1);
    }
  }
  &-middle {
    @media only screen and (min-width: 600px) {
      display: flex;
      align-items: flex-start;

      & > div{
        width: 50%;
        padding: 0;
      }

      div:first-child{
        justify-content: flex-start;
      }
    }
    @media only screen and (min-width: 768px) {
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      padding-inline: 0;
    }
    @media only screen and (min-width: 1200px) {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding-inline: 0;
    }
    @media only screen and (min-width: 1600px) {
      width: 100%;
      max-width: 1600px;
      margin: 0 auto;
      padding-inline: 0;
    }

    .my-sky {
      padding: 20px 0;

      .stores{
        flex-wrap: wrap;
        @media only screen and (max-width: 600px) {
          display: none;
        }
      }

      .my-sky-footer-logo {
        width: 48px;
        height: 48px;
        aspect-ratio: 1.1;
      }
      .title {
        width: 60%;
        font-family: Roboto;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        color: $color-text-red;
      }
    }
    .about{
      @media only screen and (min-width: 600px) {
        display: flex;
        flex-wrap: wrap;

        .details:nth-child(1){
          order: 1;
        }
        .details:nth-child(2){
          order: 3;
        }
        .details:nth-child(3){
          order: 2;
        }
        .details:nth-child(4){
          order: 4;
        }
      }

      .details {
        border-bottom: 1px solid $border-footer-top-bottom;

        ul{
          padding: 0 $horizontal_space;
          @media only screen and (min-width: 600px) {
            padding: 0;
          }
        }

        @media only screen and (min-width: 600px) {
          border-bottom: none;
          flex:1;

          &-summary{
            padding: 0;
          }
          &-summary:after{
            content: "";
          }
        }
  
        &-summary {
          width: 100%;
          min-height: 60px;
          box-sizing: border-box;
  
          .title {
            flex: 1;
          }
        }
  
        .title,
        .link {
          width: 256px;
          height: 22px;
          font-family: Roboto;
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.38;
          letter-spacing: normal;
          color: $color-text-black;
        }
  
        .title{
          font-weight: 500;
          margin-bottom: 0px;
        }
        .link {
          margin-bottom: 10px;
        }
      }
    }
  }

  &-bottom {
    background-color: $background_white;

    .links {
      padding-top: 20px;
      padding-bottom: 20px;
      .link {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.14;
        letter-spacing: normal;
        color: $color-text-black;
        margin-right: 10px;
        &:after {
          content: "|";
          margin-left: 10px;
        }
      }
    }
    .copywrite {
      background-color: $background_footer;
      padding: 20px $horizontal_space;

      p {
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $color-icon;

        @media only screen and (min-width: 600px) {
          text-align: left;
        }
      }
    }
  }
}
