@import "../colors.scss";
@import "../spaces.scss";

.header {
  i {
    font-size: 1rem;
    color: $color-icon;
  }
  .sky-nav-logo {
    margin-right: 20px;
  }
  .shadow {
    -webkit-box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -0px 4px 34px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -0px 4px 34px 0px rgba(0, 0, 0, 0.75);
  }

  .tabs {
    min-height: 48px;
    display: flex;
    align-items: flex-end;
    font-size: 1rem;
    color: $color-icon;

    .active {
      color: #f35c58;
      border-bottom: 4px solid $red;
    }
    .tab{
      height: 100%;
      box-sizing: border-box;
    }
  }
}
