.flex {
  display: flex; }

.items-center {
  align-items: center; }

.justify-around {
  justify-content: space-around; }

.justify-center {
  justify-content: center; }

.justify-between {
  justify-content: space-between; }

.justify-start {
  justify-content: flex-start; }

.w-full {
  width: 100%; }

.h-full {
  height: 100%; }
