$red: #f35c58;
$background_header: rgba(241, 242, 250, 1);
$background_main: rgba(250, 250, 255, 1);
$background_footer: #f1f2fa;
$background_white: #FFF;
$background_gray: #8f969a;


$color_text: #fafaff;
$color-text-red: rgba(219, 82, 79, 0.99);
$color-text-black: #000000de;

$color-icon: #00000099;

$border-footer-top-bottom: rgba(80, 80, 80, 0.15);
